.cmb {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;


}

.tb {
    width: 800px;
    display: flex;
    font-size: 25px;
    font-weight: 100;



}

.ctc {
    border-radius: 10px;
    position: relative;
    width: 20%;
    height: auto;
    background-color: #1b1b1b;
    box-shadow: 0 4px 8px 0 rgba(3, 3, 3, 1.2), 0 9px 105px 0 rgba(0, 0, 0, 0.19);
    color: white;

    padding-bottom: 20px;


}


.tc {
    margin-top: 50px;
    display: flex;
    width: 80%;
    border-radius: 10px;
    flex-direction: row;
    column-gap: 8%;
    margin-bottom: 20px;
    padding-left: 8%;



}


.eb {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 25px;
    font-weight: 100;
    column-gap: 50%;




}

.mdl{
    margin-top: 20px;
    width: 50%;
    margin-left: 25%;
}

.img1 {
    width: 100%;
}

#img1 {
    margin-left: 10px;
    margin-top: 10px;
    height: 58px;
    width: auto;
}

.cname {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 26px;
    font-weight: 600;
    overflow: hidden;
}


.cprice {
    margin-top: 10px;
    overflow: hidden;
    font-size: 18px;
    margin-left: 10px;
    font-weight: 600;


}

.mloader {

    height: 100%;
    display: grid;
    place-items: center;
    width: 100%;
}


.loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;


}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.crypto_mb {
    display: flex;
    flex-wrap: wrap;
    margin-left: 6%;
    margin-right: 6%;
    padding-left: 20px;
    background-color:rgba(207, 214, 228, 1);
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 8px;
    box-shadow: 0 4px 39px 0 rgba(3, 3, 3, 1.2), 0 9px 105px 0 rgba(0, 0, 0, 0.19);

}



@media screen and (min-width: 765px) and (max-width: 1028px) {
    .grp {
        display: flex;
        align-items: center;
        width: 80%;

    }
}

@media only screen and (max-width: 765px) {
    .view_all_list {
        padding: 0px;

    }

    .mdl{
        width: 100%;
        margin-left: 0;
    }



    #img1 {
        height: 30px;
        width: auto;
    }

    .tc {
        width: 90%;
    }

    .cname {
        font-size: 16px;

    }

    .ctc {
        width: 27%;
    }

    .cprice {
        font-size: 15px;
    }

    .eb {
        column-gap: 32%;
    }

}

@media only screen and (max-width: 378px) {

    #img1 {
        height: 25px;
        width: auto;
    }

    .tc {
        width: 90%;
    }

    .cname {
        font-size: 12px;

    }

    .ctc {
        width: 27%;
    }

    .cprice {
        font-size: 12px;
    }

}