.bb {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.fb {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 20%;
    margin-top: 20px;

}

.fcfb {
    padding-top: 92px;
    width: 35%;
    height: 100%;
    padding-left: 40px;
    font-size: 60px;
    font-weight: 600;
    color: rgb(36, 36, 84);


}


.scfb {
    width: 30%;
    height: 100%;
    padding-right: 30px;

}

#scfb {
    width: 100%;
    height: auto;

}

.sb {
    margin-top: 40px;
    text-align: center;
    background-color: whitesmoke;

    color: rgb(36, 36, 84);
    font-size: 30px;


}

.pfsb {

    width: 40%;
    font-size: 40px;
    font-weight: 600;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;

}

.tb {

    margin-top: 40px;
    text-align: center;
    font-weight: 600;
    color: rgb(36, 36, 84);
    font-size: 40px;
    width: 100%;
    background-color: whitesmoke;

}


.fbtb {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;

}

#pbtn {
    width: 114px;
    height: 44px;
    background-color: rgb(28, 28, 40);
    border-radius: 8px;
    color: white;
    margin-top: 10px;
}



.whyus {
    color: rgb(36, 36, 84);
    display: flex;
    flex-wrap: wrap;
    padding: 0 2%;
    background-color: whitesmoke;


}

.why_us_content {

    padding-left: 2%;
    padding-bottom: 3%;
    width: 31.3333%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;

}


.whyimg {
    width: 60%;

    display: flex;
    align-items: center;


}

#whyimg {
    width: 100%;
    height: auto;
}

.whycontent {
    padding-left: 2%;
    padding-bottom: 2%;
   
      
}

@media only screen and (max-width: 1440px) {
    .fcfb {
        font-size: 35px;
    }

    .sb {
        font-size: 16px;
    }

    .pfsb {
        font-size: 24px;
    }

    .tb {

        font-size: 25px;

    }

}

@media only screen and (max-width: 765px) {

    .fb {
        flex-direction: column;
        align-items: center;
    }

    .scfb {
        width: 100%;
        padding-right: 0;
    }

    .fcfb {
        font-size: 20px;
        padding-left: 0;
        padding-top: 0px;
        width: 100%;
        text-align: center;
    }

    .pfsb {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .sb {
        font-size: 10px;
    }

    .fbtb {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}


.top_investers {
    text-align: center;

}

#tinvest {
    width: 67%;
}

@media only screen and (max-width: 765px) {
    #tinvest {
        width: 100%;
    }

}

@media only screen and (max-width: 770px) {


    .why_us_content {
        width: 50%;
        padding-left: 0;
    }

    .whyus {
        padding: 0 6%;
        background-color: whitesmoke;
    }



}

@media only screen and (max-width: 440px) {

    .why_us_content {
        width: 100%;
        font-size: 12px;

    }




}