.mnav {

    display: flex;
    flex-direction: row;
    height: 100px;
    column-gap: 50%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    background-color: white;



}

#conbtn{
    height: 40px;
    background-color: rgb(15, 0, 128);
    color:white;
    border-radius: 5px;
    font-weight:600;
    width:  100px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(3, 3, 3, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 1.19);


}

.navlogo {
    height: 100%;
    text-align: left;

}

.navlinks {
    height: 100%;
    float: right;
    gap: 17px;
    display: flex;
    text-align: center;
    margin-top: 34px;
    font-size: 17px;









}

.aref {
    text-decoration: none;
    color: black;
}

.navlinks p {
    margin-top: 0px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.navlogo img {
    height: 70%;
    width: auto;
}

@media only screen and (max-width: 780px) {
    .mnav {
        column-gap: 29%;
    }
}

.notshow {
    display: none;
}


.menuicon {
    display: none;
}

@media only screen and (max-width:426px) {
    .aref {
        display: none;
    }

    .navlinks {
        margin-top: 11px;
        width: 167px;

    }

    .menuicon {
        display: block;
        float: right;
        height: 100%;
        width: 100%;
        text-align: right;



    }

    .menuicon img {
        height: 50%;
        width: auto;
    }

    .mnav {
        column-gap: 13%;
    }

    .notshow {
        display: block;
        z-index: 1;
        position: absolute;
        margin-top: 76px;
        background-color: rgb(2, 35, 44);
        width: 90%;
        height: 253px;
        text-decoration: none;
        color: black;
        flex-direction: row;



    }



}


.icon_items {
    width: 100%;
    height: 40px;
  margin-top: 10px;







}

.icon_itemc {
    align-items: center;
   
    margin-left: 20px;


    height: 100%;
}


.icon_items:hover {
    background-color: green;
}