body{
    /* background-image: url('../images/i2.jpg'); */
    /* background-image: linear-gradient(rgb(36, 171, 21), rgb(0, 160, 147),rgb(24, 24, 176)); */
    background-color:white;
     
 }
 
 .mb{
     display: flex;
     width: 100%;
     height: 530px;
     margin-top: 80px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: lighter;
     justify-content: center;
    
     
     
         
 }
 
 .navbar{
     height: 49px;
     width: 100%;
     display: flex;
     flex-direction: row;
     column-gap: 75%;
     align-items: center;
     justify-content: flex-end;
 
 }
 .clogo{
     height: 100%;
 }
 #clogo{
   height: 100%;   
   width: auto; 
 }
 
 .contactus{
     margin-right: 40px;
     
     color: white;
     height: 40px;
     text-align: center;
     
 }
 
 

 
 
 
 .credIp{
    
      background-color: rgb(255, 255, 255);
      /* background-image: linear-gradient(rgb(36, 171, 21), rgb(0, 160, 147),rgb(24, 24, 176)); */
      border-start-start-radius: 10px;
      border-end-start-radius: 10px;
      /* margin-left: 200px; */
      width: 400px;
      /* margin-left: 350px; */
      box-shadow: 0 4px 8px 0 rgba(3, 3, 3, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 1.19);
 }
 
 .signhd{
     text-align: center;
     font-size: 30px;
     /* color: rgb(13, 70, 141); */
     font-weight: 10;
 }
 
 .logo{
     text-align: center;
     height: 80px;
 }
 .username{
     margin-left: 45px;
     margin-top: 100px;
     font-size: 20px;
     font-weight: 10;
    
 }
 
 #username{
     margin-left: 20px;
     height: 23px;
 }
 
 .email{
     margin-left: 45px;
     margin-top: 10px;
     font-size: 20px;
     font-weight: 10;
   
 }
 #email{
     margin-left: 60px;
     height: 23px;
     font-weight: 5;
     /* border: snow;
     border-bottom: solid; */
 }
 .pass{
     margin-left: 45px;
     margin-top: 10px;
     font-size: 20px;
     font-weight: 10;
 }
 
 #password{
     margin-left: 27px;
     height: 23px;
 }
 
 .sbtn{
     margin-top: 40px;
     text-align: center;
     font-weight: 5;
 }
 
 #sbt{
     width:  35%;
     height: 34px;
     background-color: #2249B5;
     border-radius: 10px;
     border: snow;
     font-weight: 5;
     box-shadow: 0 4px 8px 0 rgba(3, 3, 3, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

 
 
 
 }
 
 .al{
     color: black;
     margin-top: 10px;
     text-align: center;
 }
 
 #al{
     color: black;
      text-decoration: none;
    
 }
 
 .sdpc{
   
    
     /* background-image: url('../images/i3.png'); */
     box-shadow: 0 4px 8px 0 rgba(3, 3, 3, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 1.19);
    
    width: 430px;
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
 
 }
 
 #sdpc{
     border-start-end-radius: 10px;
     border-end-end-radius: 10px;
     width: 100%;
     height: 100%;
 }

 @media only screen and (max-width: 1024px) {
        .navbar{
            gap: 60%;
        }
 }
 @media only screen and (max-width: 762px) {
        .navbar{
            gap: 38%;
        }

        #conbtn{
            font-size: 10px;
            width: 100%;
        }

        .contactus{
            margin-right: 0;
            width: 31%;
        }
 }
 
 
 @media only screen and (max-width: 600px) {
     .mb{
         height: 700px;
         width: 78%;
         flex-direction: column;
         margin-left: 10%;
       
     }
 
     .signhd{
         font-size: 25px;
     }
 
     .username{
         margin-top: 20px;
         margin-left: 0px;
         display: flex;
         flex-direction: column;
         font-size: 19px;
         align-items: center;
         width: 100%;
     }
 
    
 
     .credIp{
         /* color: rgb(193, 108, 249); */
         border-start-start-radius: 0px;
         border-end-start-radius: 0px;
         order: 2;
         width: 100%;
         height: auto;
         margin: 0px;
         
     }
 
 
     
 
     #username{
         width: 78%;
         margin-left: 0px;
     }
 
     .sdpc{
         border-start-end-radius: 0px;
         border-end-end-radius: 0px;
         order: 1;
         width: 100%;
         height: auto;
         /* background-color: red */
     }
 
 
     .email{
         margin-top: 20px;
         margin-left: 0px;
         display: flex;
         flex-direction: column;
         font-size: 19px;
         align-items: center;
     }
 
     #email{
 
         width: 78%;
         margin-left: 0px;
 
     }
 
 
     .pass{
 
         margin-top: 20px;
         margin-left: 0px;
         display: flex;
         flex-direction: column;
         font-size: 19px;
         align-items: center;
 
     }
 
     #password{
         width: 78%;
         margin-left: 0px;   
     }
 
     #sdpc{
         border-start-end-radius: 0px;
         border-end-end-radius: 0px;
     }
 
     .sbtn{
         margin-bottom: 40px;
         margin-top: 20px;
     }
 
     
 }
 
 
 
 